.memory--theme-code-vibes {
    .cards--theme-code-vibes .card {
        width: 175px;
        height: 175px;
    }

    .memory__header {
        // Code Vibes header styles here.
    }

    .memory__main {
        margin-top: 60px;
    }

    &.memory--board-24,
    &.memory--board-36 {
        .memory__main {
            margin-top: 32px;
        }
    }
}

.end-screen--theme-code-vibes {
    // Code Vibes game-over styles here.
}

.winner--theme-code-vibes {
    // Code Vibes winner styles here.
}
